@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: auto;
}

.Logo img {
  height: 30px;
}

header {
  background-color: white;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a:active {
  color: black;
}

.Arrow {
  position: relative;
  right: 20%;
}

.SearchPart {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.SearchPart__Localisation {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 10px 0 10px 0;
  border-top: solid 2px lightgrey;
  background-color: rgb(234, 234, 234);
}
.SearchPart__Localisation__Paris {
  margin-left: 10px;
  font-weight: 500;
}
.SearchPart__Hook {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(246, 246, 246);
  margin-bottom: 10px;
}
.SearchPart__Hook h1 {
  margin: 20px 50px 10px 50px;
}
.SearchPart__Hook__Text {
  margin: 0 50px 0 50px;
}
.SearchPart__Hook__Explore {
  margin: 20px 0 30px 0;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 8px 15px 10px 15px;
  border-radius: 18px;
  color: white;
  box-shadow: 0px 5px 10px lightgray;
}
.SearchPart__Hook__Explore:hover {
  background: linear-gradient(to bottom right, #fface8, #ae80e5);
  box-shadow: 0px 5px 10px grey;
}

h2 {
  margin: 0 0 15px 20px;
  padding-top: 20px;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ExplainPart__Center {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
}
.ExplainPart__Number {
  background-color: #9356DC;
  position: relative;
  left: 13px;
  padding: 2px 8px 2px 7px;
  border-radius: 50%;
  color: white;
}
.ExplainPart__Cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 18px 24px 18px 24px;
  background-color: lightgray;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0px 5px 10px lightgray;
  width: 75%;
  margin-right: 15px;
  background-color: rgb(246, 246, 246);
  justify-content: flex-start;
  height: 35px;
}
.ExplainPart__Cards i {
  margin: 0 26px 0 11px;
  color: grey;
}
.ExplainPart__Cards3 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 18px 24px 18px 24px;
  background-color: lightgray;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0px 5px 10px lightgray;
  width: 75%;
  margin-right: 15px;
  background-color: rgb(245, 237, 255);
  justify-content: flex-start;
  height: 35px;
}
.ExplainPart__Cards3 i {
  margin: 0 26px 0 11px;
  color: #9356DC;
}

.ResultsPart {
  background-color: rgb(246, 246, 246);
}
.ResultsPart a {
  text-decoration: none;
  color: black;
}
.ResultsPart__Cards {
  margin: 15px;
  overflow: hidden;
  background-color: white;
  flex-grow: 1;
  width: 90%;
  border-radius: 18px;
  text-align: left;
}
.ResultsPart__Cards__Image {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.ResultsPart__Cards img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0% 65%;
  position: absolute;
}
.ResultsPart__Cards__Name {
  font-weight: bold;
  margin: 10px 0 0 10px;
}
.ResultsPart__Cards__Location {
  margin: 0 0 10px 10px;
}
.ResultsPart__Cards__Icon {
  color: grey;
  font-size: 1.3em;
  position: relative;
  text-align: right;
  right: 20px;
  top: 20%;
}
.ResultsPart__Cards__New {
  position: absolute;
  background-color: rgb(153, 226, 208);
  padding: 6px 14px 6px 14px;
  right: 20px;
  top: 20px;
  font-size: 0.9em;
}
.ResultsPart__Cards__New:hover {
  background-color: #c1ede2;
}
.ResultsPart__Cards__Column {
  display: flex;
  flex-wrap: wrap;
}
.ResultsPart__Cards__Column__Right {
  width: 50%;
}
.ResultsPart__Cards__Column__Left {
  width: 50%;
}

footer {
  background-color: rgb(53, 53, 53);
}

.Logo__Footer {
  font-family: "Shrikhand", cursive;
  padding: 15px 0 10px 20px;
  color: white;
  font-size: 1.2em;
}

.FooterPart {
  color: white;
  padding: 5px 0px 15px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.FooterPart__Align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.FooterPart__Icon1 {
  width: 25px;
}
.FooterPart__Icon2 {
  font-size: 0.8em;
  width: 25px;
}

/* Page 1 - La palette du Goût ----------------------------------------------------------------------------    */
body {
  background-color: rgb(246, 246, 246);
}

.Image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.Column {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
}
.Column:hover > .Right {
  transform: translate(-40px);
}
.Column:hover > .Right > .Menu__Dishes__Cards__Icone {
  opacity: 1;
  background-color: #99E2D0;
  color: white;
}

.Right {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: end;
  background-color: white;
  transform: translate(0);
  transition: transform 1s;
}

.Left {
  width: 80%;
  height: 100%;
}

.Menu {
  background-color: rgb(246, 246, 246);
  border-radius: 30px 30px 0 0;
  padding-top: 20px;
  position: relative;
  bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Menu__Title {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
  width: 95%;
  margin: auto;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Menu__Title i {
  margin-right: 15px;
}
.Menu__Dishes {
  width: 95%;
  margin: auto;
}
.Menu__Dishes__Subtitles {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 1.1em;
  width: 40px;
  border-bottom: 3px #99E2D0 solid;
}
.Menu__Dishes__Cards {
  background-color: white;
  border-radius: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.Menu__Dishes__Cards__Name {
  font-weight: bold;
  padding-left: 10px;
}
.Menu__Dishes__Cards__Details {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}
.Menu__Dishes__Cards__Price {
  font-weight: bold;
  margin: 30px 0 0 0;
  position: relative;
  right: -30px;
}
.Menu__Dishes__Cards__Icone {
  padding: 23px 25px 17px 23px;
  position: relative;
  right: -40px;
  transform: translate(0);
  transition: transform 1s;
  opacity: 0;
}
.Menu__Command {
  margin: 20px 0 30px 0;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 8px 15px 10px 15px;
  border-radius: 18px;
  color: white;
  box-shadow: 0px 5px 10px lightgray;
}
.Menu__Command:hover {
  background: linear-gradient(to bottom right, #fface8, #ae80e5);
}

/*# sourceMappingURL=style.css.map */
