body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: auto;
}

.Logo img {
  height: 30px;
}

header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.SearchPart {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.SearchPart__Localisation {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0 10px 0;
  border-top: solid 2px lightgrey;
  background-color: rgb(234, 234, 234);
}
.SearchPart__Localisation__Paris {
  margin-left: 10px;
  font-weight: 500;
}
.SearchPart__Hook {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(246, 246, 246);
  margin-bottom: 10px;
}
.SearchPart__Hook h1 {
  margin: 20px 50px 10px 50px;
}
.SearchPart__Hook__Text {
  margin: 0 50px 0 50px;
}
.SearchPart__Hook__Explore {
  margin: 20px 0 30px 0;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 8px 15px 10px 15px;
  border-radius: 18px;
  color: white;
  box-shadow: 0px 5px 10px lightgray;
}

h2 {
  margin: 0 0 15px 10px;
  padding-top: 20px;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.ExplainPart__Center {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
}
.ExplainPart__Number {
  background-color: #9356DC;
  position: relative;
  left: 13px;
  padding: 2px 8px 2px 7px;
  border-radius: 50%;
  color: white;
}
.ExplainPart__Cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 18px 24px 18px 24px;
  background-color: lightgray;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0px 5px 10px lightgray;
  width: 75%;
  margin-right: 15px;
  background-color: rgb(246, 246, 246);
  justify-content: flex-start;
  height: 35px;
}
.ExplainPart__Cards i {
  margin: 0 26px 0 11px;
  color: grey;
}

.ResultsPart {
  background-color: rgb(246, 246, 246);
}
.ResultsPart__Cards {
  margin: 15px;
  overflow: hidden;
  background-color: white;
  flex-grow: 1;
  width: 85%;
  border-radius: 18px;
  background-color: white;
  text-align: left;
}
.ResultsPart__Cards__Image {
  overflow: hidden;
}
.ResultsPart__Cards img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: bottom;
}
.ResultsPart__Cards__Name {
  font-weight: bold;
  margin: 10px 0 0 10px;
}
.ResultsPart__Cards__Location {
  margin: 0 0 10px 10px;
}

/*# sourceMappingURL=style.css.map */
